<div class="mainscreen">

    <!--PROGRESS BAR-->
    <div class="cardDiv">
        <div class="leftsideDiv">
          <button type="" class="buttonDivG" (click)="backClicked()" >Retour</button>
        </div>
        <div class="container2">
          <input type="radio" class="radio" name="progress" value="five" id="five">
          <label for="five" class="label"></label>
        
          <input class="radio" name="progress" value="twentyfive" id="twentyfive">
          <label for="twentyfive" class="label">25%</label>
        
          <input type="radio" class="radio" name="progress" value="fifty" id="fifty">
          <label for="fifty" class="label"></label>
        
          <input type="radio" class="radio" name="progress" value="seventyfive" id="seventyfive"checked>
          <label for="seventyfive" class="label">75%</label>

          <input type="radio" class="radio" name="progress">
          <label class="label"></label>
        
        
          <input class="radio" name="progress" value="onehundred" id="onehundred">
          <label for="onehundred" class="label">100%</label>
        
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
        </div>

        <div class="rightsideDiv">
        </div>
      </div>


    <div class="card">
        
        <!----- Compétences ----->
        <div class="container">

            <h1 class ="title">Champs de compétences</h1>

            <h5 class ="subtitle" style="font-style: italic; ">Veuillez selectionner votre domaine principal</h5>

            <select class="inputbox" name="domaine" [(ngModel)]="selectedDomain" ngModel  #domaine="ngModel" id="domaine" required>
                
                <option *ngFor="let domaine of domaines" [value]="domaine"  > {{domaine}} </option>
            
            </select>

            <form [formGroup]="form" (ngSubmit)="submit()" novalidate>

                <!------------------------------------->
    
                <button class="button2" type="button" (click)="addSkill(selectedDomain)">Chercher</button>
    
                <!--input style="margin-top: 5%;" class="inputbox" #filtre (keyup.enter)="addSkill(filtre.value)" (blur)="addSkill(filtre.value); filtre.value='' "-->
    
                <div style = "margin : 20px; font-size : 20px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" *ngFor="let skill of skills; let i=index">
                  <input type="checkbox" value={{skill}} formArrayName="selectedSkills" (change)="onCheckboxChange($event)" />
                  {{skill | titlecase}}
                </div>
    
                <div style = "margin : 30px ; font-size : 20px ; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="conteneur">
                    <table *ngFor="let skill of form.value['selectedSkills']; let i=index" class="table table-striped">
                        <thead>
                            <tr >
                            <th><strong>{{skill | titlecase}}</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let child of getChildren(skill)">
                                <input type="checkbox" value={{child}} formArrayName="selectedSkills" 
                                            (change)="onCheckboxChange($event)"/>
                                
                                {{child}}
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <button class="button" type="submit">Valider</button>
    
            </form>

        </div>
        
        
    
    </div>
    
</div>