<!--div class="test"> 
    <h1>Accès à l'enqûete</h1>
    <p>Veuillez saisir votre email afin de recevoir un lien d'accès à l'enqête</p>
    <input class="access" type="text">
</div-->

<!--div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Sign In</h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Username" #userName required>
        </div>
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Password" #userPassword required>
        </div-->
        <!-- Calling SignIn Api from AuthService -->
        <!--div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
        </div>
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div-->
        <!-- Calling GoogleAuth Api from AuthService -->
      <!--/div>
      <div class="redirectToLogin">
        <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
      </div>
    </div>
  </div-->

  <!--ng-container *ngIf="user | async; else login">

    Congrats You logged in without a password 

    <!--button (click)="logout()">SignOut</button>

  </ng-container-->


  <!--div>
    <input class="access" name="em"  type="email" [(ngModel)]="email" ngModel #em="ngModel" id="em">
    <hr>


    <button [disabled]="emailSent" (click)="sendEmailLink(email)"> Get Login Link </button>

    <hr>

    <div *ngIf="emailSent">

      Cool! We sent you an email with your login Link

    </div>

    <button [disabled]="emailSent" (click)="getALLUser()"> Get List of users </button>
  

  </div-->


  <!--EXEMPLE-->

  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login">
          <div class="login__field">
            <i class="login__icon fas fa-user"></i>
            <p>Votre mail institutionnel</p>
            <input type="text" class="login__input" placeholder="Email" name="em"  type="email" [(ngModel)]="email" ngModel #em="ngModel" id="em" >
          </div>

          <button class="button login__submit" [disabled]="emailSent" (click)="sendEmailLink(email)">
            <span class="button__text">Obtenir le lien d'accès par mail</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>				
        </form>
        <div class="social-login">
          <h3>Enquête</h3>
        </div>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
  